$brand-primary: #409BB6;
$brand-success: #e8903c;
$border-radius-base: 3px;
$border-radius-large: 0;
$border-radius-small: 0;
$gray-base: #313131;
$icon-font-path: "../fonts/bootstrap/";
$speed: 0.5s;
$ease: ease;
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./mixins";
@import "./forms";
@import "./margins";
@import "./nav";
@import "./login";
@import "./spinner";
@import "./recipeEdit";
@import "./tables";


html
{
    height: 100%;
}

body
{
    height: 100%;
    background-color: transparent;
}

#app
{
    height: 100%;
    position: relative;
    overflow: auto;
    transition: all $speed $ease;
    border-top: 1px solid #eaeaea;
    background-color: #fff;
    overflow-x: hidden;

    &.active
    {
        @media ( min-width: $screen-sm ){
            padding-left: 160px;
        }
    }//active

    &.menu-active
    {
        .container-fluid
        {
            left: 150px;
            position: relative;

            @media ( min-width: $screen-sm ){
                left: 0;
                position: static;
            }
        }//container-fluid
    }//menu-active

    .container-fluid
    {
        transition: all $speed $ease;
        left: 0;
    }//container-fluid
}

.panel
{
    border: none;

    .panel-heading
    {
        border-bottom: none;
    }//panel-heading

    h1, h2, h3, h4, h5, h6
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    h2
    {
        font-size: 1.3em;
    }
}

.banner
{
    background: #fff;
}

.btn.new-recipe
{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all $speed $ease;

    &:hover
          {
              transform: rotate(90deg);
          }//hover
}//new-recipe

a,
.btn
 {
     transition: all $speed $ease;
 }

.panel
{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}//panel