$brand-primary: #409BB6;
$brand-success: #e8903c;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$gray-base: #313131;
$icon-font-path: "../../public/fonts/bootstrap/";
$speed: 0.5s;
$ease: ease;
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./mixins";
@import "./forms";
@import "./margins";
@import "./nav";
@import "./login";
@import "./spinner";


html
{
    height: 100%;
}

body
{
    height: 100%;
    background-color: transparent;
}

#app
{
    height: calc(100% - 50px);
    position: relative;
    overflow: auto;
    transition: background-color $speed $ease;

    &.active
    {
        padding-left: 50px;
        background-color: #f5f5f5;
    }//active
}

.panel
{
    border: none;

    .panel-heading
    {
        border-bottom: none;
    }//panel-heading

    h1, h2, h3, h4, h5, h6
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    h2
    {
        font-size: 1.3em;
    }
}

.banner
{
    background: #fff;
}

.btn.new-recipe
{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 20px;
    bottom: 20px;
}//new-recipe