form
{
    div.form-group
    {
        label
        {
            font-weight: normal;
            position: relative;
            outline: none;
            transition: all 0.3s ease;
            font-size: 0.8em;
            color: lighten($gray-dark, 10%);
        }//label
        
        input.form-control
        {
            box-shadow: none;
            border-top: none;
            border-left: none;
            border-right: none;
            padding-left: 0;
            padding-top: 0;
            height: 25px;
            background-color: transparent;
            color: $gray-dark;
        }//input

        &.formly-input
        {
            label
            {
                top: 20px;
                margin-bottom: 0;
                font-size: 1em;
                color: $gray-base;
            }//label
        }//formly-input

        &.formly-has-value,
        &.formly-has-focus
         {
             label
             {
                 top: 0;
                 font-size: 0.8em;
                 color: lighten($gray-dark, 10%);
             }//label
         }//active, value
    }//form-group
}//form