form
{
    div.form-group
    {
        label
        {
            font-weight: normal;
            position: relative;
            outline: none;
            transition: all 0.3s ease;
            font-size: 0.8em;
            color: lighten($gray-dark, 10%);
        }//label
        
        input.form-control
        {
            box-shadow: none;
            border-top: none;
            border-left: none;
            border-right: none;
            padding-left: 0;
            padding-top: 0;
            height: 25px;
            background-color: transparent;
            color: $gray-dark;
        }//input

        &.formly-input
        {
            label
            {
                top: 20px;
                margin-bottom: 0;
                font-size: 1em;
                color: lighten($gray-dark, 10%);
            }//label
        }//formly-input

        &.formly-has-value,
        &.formly-has-focus,
        &.formly-input.file
         {
             label
             {
                 top: 0;
                 font-size: 0.8em;
                 color: lighten($gray-dark, 10%);
             }//label
         }//active, value
    }//form-group
}//form

label.glyph-check
{
    cursor: pointer;
    
    input
    {
        display: none;
    }//input

    span
    {
        transition: all $speed $ease;
    }//span

    &:hover span,
    input:checked + span
              {
                  color: $brand-primary;
              }//checked
}//glyph-check