#main-nav
{
    background-color: #f7f7f7;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 150px;
    transition: all $speed $ease;
    overflow: hidden;
    height: 0;
    z-index: 20;
    border-right: 1px solid #eaeaea;


    .nav-item
    {   
        a
        {
            display: block;
            text-align: left;
            color: $gray-light;
            line-height: 40px;
            text-decoration: none;
            transition: all $speed $ease;

            &:hover
                  {
                      color: $gray-dark;
                  }//hover

                  &.v-link-active
                  {

                  }//v-link-active

                  .glyphicon
                  {
                      display: inline-block;
                      vertical-align: middle;
                      width: 50px;
                      text-align: center;
                  }//glyphicon
                 
        }//a

    }//nav-item
          
}//main-nav

.active
{
    #main-nav
    {
        height: 100%;
        .nav-item
        {
            opacity: 1;
        }//nav-item
    }//main-nav
}//active