.recipeImage
{
    height: 200px;
    background-size: cover;
    background-position: center center;
}

.newIngredient
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 20;
    display: none;

    &.active
    {
        display: block;
    }//active
}//newIngredient

.ingredient-items
{
    .ingredient-item
    {
        label.toggle-edit
        {
            margin-right: 5px;
            margin-bottom: 0;
        }//label
        
        > div
        {
            display: inline-block;
            vertical-align: middle;

            > div
            {
                display: inline-block;
            }//> div
        }//div

        .ingredient-label
        {
            font-weight: bold;
        }//ingredient-label

        &.editing
        {

            input[type='text']
            {
                box-shadow: none;
                outline: none;
                border: none;
                border-bottom: 1px solid $gray-light;
            }//text

            .ing-input
            {
                input[type='text'].ing-amount
                {
                    width: 30px;
                }//input

                .ing-notes
                {
                    input
                    {
                        width: 100%;
                    }//input
                }//ing-notes
            }//ing-input
        }//editing
    }//ingredient-item
}//ingredient-list