.recipeImage
{
    height: 200px;
    background-size: cover;
    background-position: center center;
}

.newIngredient
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 20;
    display: none;

    &.active
    {
        display: block;
    }//active
}//newIngredient